# Dependencies
node_modules/
.next/
out/
build/
dist/

# Env files
# .env*
!.env.example
.env
.env.local
.env.production
.env.development
.env.test
.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS/IDEs
.DS_Store
.vscode/
.idea/
*.swp

# Misc
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# Temp uploads (for debugging)
temp/
